<div class="ui compact menu">
    <a class="item" href="@Url.Action("Index")">
        <i class="list icon"></i>
        List Plot
    </a>
    <a class="item" href="@Url.Action("Add")">
        <i class="add icon"></i>
        Add Plot
    </a>
</div>