@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Dashboard";
}

@Html.Partial("_SideNav")

<main class="content">
    <h1 class="ui header">Dashboard</h1>
    <p>Hai, @User.Identity.GetUserName()!</p>
</main>

