<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="~/Content/Images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/Images/favicon.ico" type="image/x-icon">
    <link href="~/Content/Semantic-UI/semantic.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/Main.css" rel="stylesheet" />
    <title>Grewbit | @ViewBag.Title</title>
</head>
<body>

    @RenderBody()

    <script src="~/Scripts/jQuery/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/Semantic-UI/semantic.min.js"></script>
</body>
</html>
