<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Semantic-UI/semantic.min.css" rel="stylesheet" />
    <title>Grewbit</title>
</head>
<body>

    <div class="ui container">
        @RenderBody()
    </div>

    <script src="~/Scripts/jQuery/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/Semantic-UI/semantic.min.js"></script>
</body>
</html>
